---
title: "sean pathasema"
layout: "base.njk"
tag: nothome
---
{% include "home-header.njk" %}
<!-- core conent area container -->
<main id="content-container" class="container">
  <div id="page-heart" class="section">
    <div class="section ">
      <!-- MOVE IMAGE OUT OF ABOUT AND PUT HERE -->
      <!-- full width blog -->
      {% if collections.about.length %}
      {% include "about.njk" %}
      {% endif %}
      <!-- end full width blog -->

      <!-- experience section -->
      {% if collections.experience.length %}
      {% include "experience.njk" %}
      {%endif%}
      <!-- end experience section -->

      <!-- projects section -->
      {% if collections.portfolio.length %}
      {% include "projects.njk" %}
      {% endif %}
        <!-- end projects section -->
        
        <!-- end footer row -->
        <section class="row">
          <!-- footer section -->
          {%include "footer.njk"%}
          <!-- end footer section -->
        </section>
        <!-- end footer row -->
      </div>
    </div>
    <!-- end core content -->
  </main>