  <section class="section px-0">
    {% for home in collections.home %}
            <div class="vh-100 d-lg-flex justify-content-end heading-container">
              <h1 class="display-3 col-lg-5 col-xl-6" id="page-heading">I'm <span style="color: #d90429ff">Sean
                  Pathasema</span>.</br> A web developer based in Birmingham, Alabama.</h1>
              <div id="page-intro" class="col-lg-7 col-xl-6 text-align-right lead">
                {{ home.data.content | safe }}
                <div class="button-containter text-center text-lg-start">
                  <a class="btn btn-outline-primary btn-lg heading-button mt-5 scroll" href="#about-heading"
                    role="button">Learn More &#x1F447;</a>
                </div>
              </div>
            </div>
            {%endfor%}
          </section>