---
layout: "base.njk"
---

{%include "experience.njk" %}
{%include "about.njk"%}

<section class="row">
  <!-- footer section -->
  {%include "partials/footer.njk"%}
  <!-- end footer section -->
</section>