---
layout: base.njk

---
<body>
  <div class="post-main">
  <h1 class="mb-5 post-page-title">{{ title }}</h1>
  
  {{content | safe}}
   <div class="pt-2 mt-5 ext-muted badge-tag group-list">{{group}}</div>
  <!-- set pagination. removed {{ previousPost.data.title }} from link text -->
  {% set previousPost = collections.portfolio | getPreviousCollectionItem(page) %}
  {% set nextPost = collections.portfolio | getNextCollectionItem(page) %}
  <div class="pagination-links mt-4">
    <div class="page-previous">
    {% if previousPost %}
      <a href="{{ previousPost.url }}">← Previous Project</a>
    {% endif %}
    </div>
    <div class="page-next">
    {% if nextPost %}
      <a href="{{ nextPost.url }}">Next Project →</a>
    {% endif %}
    </div>
  </div>
  </div>
 
  <!-- end footer row -->
  <section <section class="row footer-block">
      <!-- footer section -->
      {%include "partials/footer.njk"%}
      <!-- end footer section -->
    </section>
    <!-- end footer row -->
</body>