@import "variables";
@import "layout/footer";
@import "layout/nav";
@import "layout/hero";
@import "layout/content";
@import "layout/buttons";
/* font-family: 'IBM Plex Sans', sans-serif; */


/* ---- Base Styles ---- */

html {
  // background-color: #edf2f4ff;
  font-family: 'IBM Plex Sans', sans-serif;
  scroll-behavior: auto;
}
body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: $dark-grey;
  background-color: $light-grey;
}

a {
  color: $dark-grey;
  text-decoration: underline;
  text-decoration-color: $my-red;
}

a:hover {
  color: $my-red;
}

a:focus {
  color: $my-red;
}


// hero text
h1.display-3 {
  font-weight: 400;
}





