/* ---- Footer ---- */

/* Footer layout */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0 24px 0;
}

@media (max-width:992px) {
  footer {
    padding-bottom: 114px; 
  }
}

/* Footer icons */

footer #copyright  {
  margin: 0px;
  padding-right: 0px; 
}

.icons {
  display: flex;
}

.social-icons {
  font-size: 2.2rem;
  padding: 0 1rem;
  color: #8d99aeff;
}
.social-icons:hover {
  color: #2b2d42ff;
  transition: .5s;
}

.social-icons:nth-of-type(1) {
  padding-left: 0px;
}

