/* ---- Navbar ---- */

/* MENU 2 styles */

.sidebar2 {
  background-color: #edf2f4;
}

@media (max-width: 992px)  {
  .sidebar2 { 
   /* display: inline-block; */
   /* background-color: #2b2d42ff; */
   /* border-top: 2px solid lightslategrey; */
   box-shadow: rgba(0, 0, 0, 0.7) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; 
 }
}

.fa-bars {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.7rem;
}

#fontbutton.navbar-toggler {
  background-color: rgba(0, 0, 0, 0.09);
  /* border: 1px solid #d90429ff; */
  border: none;
  border-radius: 0%;
  margin-left: -2px; /* slight visual align */
}

#fontbutton.navbar-toggler:hover {
  /* background-color: #ef233cff; */
  background-color: rgba(0, 0, 0, 0.5);

  transition: .5s ease-in-out;
}
#fontbutton.navbar-toggler:focus {
  /* border: 1px solid #d90429ff; */
  box-shadow: none
}

@media (min-width: 992px) {
.nav-item {
  display: flex;
  justify-content: space-between;
  }
}
/* Nav area with cal on larger screens */
@media (min-width: 992px) {
  .nav-item {
    width: calc(100vw / 4.2);
  }
}

@media (min-width: 1200px) {
  .nav-item {
    width: calc(100vw / 6);
    max-width: 280px;
  }
}

.nav-item:hover  {
  box-shadow: inset 0 -2px 0 0 #d90429ff;
  transition: .5s ease-in-out;
  /* border-bottom: 5px solid #d90429ff ; */
  /* display: boder-box; */
}

.nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding-bottom: 0px; */
  /* padding: 16px 0px 0px 0px; */
}

#navbarCollapse .nav-link {
  color: #383434;
}

#navbarCollapse .nav-link:hover {
  color: #d90429ff;
}

.nav-link:focus {
  color: #ef233cff;
}

.nav-sidebar li a {
  font-weight: 700;
  font-size: 1.2em;
  color: #383434;
}

@media (min-width: 992px) {
  .sidebar2 ul {
    flex-direction: column!important; /* this worked to fix dropup. Probably not the best */
  }
}

@media (max-width: 992px) {
  .nav-item {
    margin: 0px 1rem;
  }
}

@media (max-width: 992px) {
  .navbar-nav .fa-arrow-right {
    display: none;
  }
}