
{# <section class="section px-0"> #}
  {# <div class=" d-lg-flex justify-content-end heading-container mb-5"> #}
   
  <div id="page-intro" class="col-lg-7 col-xl-6 text-align-right lead">
     <a href="/"><h1 class="page-name col-lg-5 col-xl-6" id="page-name"><span style="color: #d90429ff">Sean<br /> Pathasema</span></h1></a>
      {# <p>{{meta.siteHero}}</p>
      <p>Want to talk? <a href="mailto:spathasema@gmail.com">spathasema@gmail.com</a>
      </p>
      <div class="button-containter text-center text-lg-start">
        <a class="btn btn-outline-primary btn-lg heading-button mt-5 scroll" href="#about-heading" role="button">Learn More &#x1F447;</a>
      </div> #}
    </div>
  {# </div> #}
{# </section> #}