
<section class="section px-0">
  <div class="vh-100 d-lg-flex justify-content-end heading-container">
    <h1 class="display-3 col-lg-5 col-xl-6" id="page-heading">I'm <span style="color: #d90429ff">Sean Pathasema</span>.</br> A web developer based in Birmingham, Alabama.</h1>
  <div id="page-intro" class="col-lg-7 col-xl-6 pt-1 text-align-right lead page-intro-1">
      <p class="page-intro-2">{{meta.siteHero}}</p>
      <p class="page-intro-3">Want to talk? <a href="mailto:spathasema@gmail.com">spathasema@gmail.com</a>
      </p>
      <div class="button-containter text-center text-lg-start page-intro-4">
        <a class="btn btn-outline-primary btn-lg heading-button mt-5 scroll" href="#about-heading" role="button">Learn More &#x1F447;</a>
      </div>
    </div>
  </div>
</section>